@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавим немного стилей для скроллбара, чтобы в "терминале" было красиво */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}